@font-face{
    font-family: "Noto Sans SC";
    src: url("https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@100..900") format("truetype-variations"), url("fonts/NotoSansSC-VariableFont_wght.ttf") format("truetype-variations");
    font-display: swap;
    font-weight: 1 1000;
}
@font-face{
  font-family: "EB Garamond";
  src: url("https://fonts.loli.net/css2?family=EB+Garamond:wdth,wght@100..900,200..900") format("truetype-variations"), url("fonts/EBGaramond-VariableFont_wght.ttf") format("truetype-variations");
  font-display: swap;
  font-weight: 1 1000;
}
@font-face{
  font-family: "EB Garamond Italic";
  src: url("https://fonts.loli.net/css2?family=EB+Garamond:ital,wght@0,100..900;1,100..900") format("truetype-variations"), url("fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-display: swap;
  font-weight: 1 1000;
}
body{
    margin: 0;
    padding: 0;
}
.footer-component{
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    color: #FFF;
}
#school-footer-part{
    background-color: #32A5E4;
}
#devclub-footer-part{
    background-color: #3255A4;
}
.footer-text-p{
    margin: 0;
}